.text {
       display: flex;
       align-items: center;
       justify-content: center;
       margin: 4%;
       color: rgb(255, 0, 0);
       font-family: 'Noto Sans JP', sans-serif;
       font-size: 3vw;
}
.our {
       text-align: center;
       background-color: whitesmoke;
       color: black;
       font-size: 4vw;
       letter-spacing: 0.5vw;
       margin-bottom: 5%;
}
.brown {
       background-color: rgb(36, 22, 12);
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 5%;
       
      

      
       
}
.brown span {
       font-size: 2vw;
       color: white;
      margin: 2%;
}

.reviews {
 background-color: red;
}

.brown :nth-child(1) {
       position: relative;
       left: 20%;
}
.brown :nth-child(3) {
       position: relative;
       right: 20%;
}
.new {
       text-align: center;
       background-color: rgb(248, 18, 18);
       color: white;
       font-size: 10vw;
       letter-spacing: 0.5vw;
       margin-top: 5%;
       margin-bottom: 5%; 
     
}
.lightpurple {
       background-color: rgb(233, 157, 233);

}
.name {
       margin: 5%;
       margin-bottom: 2%;
}
.nametwo {
       margin: 5%;
       margin-bottom: 2%;
}
.primary {
       margin: 2%;
} footer {
       background-color: rgb(197, 181, 181);
       margin-top: 2%;
} .navbar {
       position: sticky;
       top: 1%;
       z-index: 1;
}
